<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<% let projectFilter = false %>

<div style="display:flex; justify-content: space-between; align-items: start ; display: flex; gap: 5px; height:100vh;">

<div class="container sidebar" style="width: 25%;">
    <h4 onclick="filterProjects('my')" style="margin-bottom: 20px; width: 100%; background: var(--primary-color); color:whitesmoke; padding: 10px; border-radius: var(--border-radius);   cursor:pointer">My Projects</h4>
<h4 onclick="filterProjects('assigned')" style="margin-bottom: 20px; width: 100%; background: var(--primary-color); color:whitesmoke; padding: 10px; border-radius: var(--border-radius); cursor:pointer">Assigned Projects</h4>
</div>

<div class="container" style="display: block; width: 100%;">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h1>Projects</h1>
        <a href="/projects/new" class="btn">Create Project</a>
    </div>


    <% if (projects.length === 0) { %>
        <p>No projects found. <a href="/projects/new">Create one!</a></p>
    <% } else { %>
        <div class="dashboard-grid" >
            <% projects.forEach(project => { %>
                <div class="card projectCard" data-owner="<%= project.creator._id %>" onmouseover="this.style.transform='translateY(-10px)'; this.style.boxShadow='8px 8px 0px 0px rgba(0, 0, 0, 0.2)';" onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='8px 8px 0px 0px rgba(0, 0, 0, 0.1)';">
                    <h3 id="projecttitle"><a href="/projects/<%= project._id %>" ><%= project.name %></a></h3>
                    <p ><%= project.description %></p>
                    <small>Creator: <%= project.creator.name %></small>
                </div>
            <% }) %>
        </div>
    <% } %>
</div>

</div>
<script>
function filterProjects(type) {
    const userId = "<%= user._id %>";
    const cards = document.querySelectorAll('.card');

    cards.forEach(card => {
        const owner = card.getAttribute('data-owner');

        if (type === 'my') {
            card.style.display = (owner === userId) ? 'block' : 'none';
        } 
        else {
            card.style.display = (owner !== userId) ? 'block' : 'none';
        }
    });
}
</script>
<%- include('../partials/footer') %>
